/*  7/17/23 - 11:25am*/
/* NOTE- MEGA-MENU-WRAPPER CSS IS IN JS */
/* Header*/
.header-display-desktop{
    height:128px;
    display:block;
}

.header-nav-wrapper{
    margin-left: 140px;
    margin-right: 140px;
}
/*MEGA MENU WRAPPER*/

/*MEGA MENU */
.mega-menu-container{
    text-align: left;
    display: flex;
    flex-direction: row;
}
.mega-menu-container:first-child{
    margin-left: 0 !important;
}
.mega-menu-title {
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.title-1 {
    font-size: 20px !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color:#2C252D
}
.mega-menu-section{
    margin-top: 24px;
    margin-left: 40px;
    width:300px;
    border-right: solid;
    border-right-color: rgba(170, 170, 170, 0.1);
}

.mega-menu-section.right{
    margin-left:80px;
    border-right:none;

}
.mega-menu-section.last{
    border-right: none !important;
}

.mega-menu-section.photo-section{
    margin-top: 24px;
    margin-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;

}

.mega-menu-section-item{
    display:flex;
}
.mega-menu-item-container{
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 0;
}
.mega-menu-section-column{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    margin-left:8px;
}
.mega-menu-section-item{
    margin-top:24px;
    margin-bottom:24px;
    align-items: baseline;
}
.mega-menu-sub-section-title{
    font-size:16px;
    padding:0 !important;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #2C252D

}
.mega-menu-sub-section-sub-title {
    margin-top: 4px;
    font-size: 14px;
}
.mega-menu-footer {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding-top: 12px;
}
.mega-menu-footer a{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.mega-menu-photo-wrapper{
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.mega-menu-photo-title{
    font-size: 20px;
    font-weight: bold;
}
.mega-menu-photo{
    background-color: lightgray;
    width: 246px;
    height: 160px;
    margin-bottom: 8px;
}
.mega-menu-photo.wide{
    width: 250px;
    height: 130px;
}

.mega-menu-photo-caption{
    font-size: 16px;
}

.mega-menu-photo-item{
    margin-right:30px;
}
.mega-menu-photo-item.m-1{
    margin-right:12px;
    margin-left:12px;
}

.mega-menu-photo-item.last{
    margin-left: auto;
    margin-right:140px;
}
.custom-button{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: bold;
    padding: 16px 28px !important;
    color: #2C252D
}
.custom-button:hover{
    text-decoration: underline! important;
    padding: 16px 32px !important;
    text-underline-offset: 4px;
}
.custom-price-button {
    color: #2C252D !important;
    background-color: #A8FCB8;
    padding: 16px 32px !important;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #D8DAE6;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.custom-price-button:hover {
    background-color: #DAFEE1;
}
.header-title{
    display: none;
}

.mega-menu-wrapper.column {
    display: flex;
    flex-direction: column;
}

.header-nav-list{
    width:100%;
    align-items:center;
}
.header-nav-list .contact{
   margin-left: auto;
}
.header-nav-item {
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif;
}
.header-nav-list .login{
    color:white;
    background-color: #2C252D;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #D8DAE6;
}
.header-nav-list .login:hover{
    background-color: #625D63;
    text-decoration: none;
}

.get-started-item{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#2C252D
}
.get-started-item a{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:#2C252D
}

.get-started-item.first{
    margin-top:0;
}
/*Icon Colors*/
.fa-orange{
    color:orange;
}
.fa-green{
    color:green;
}
.fa-blue{
    color:blue
}